<ul>
   <li><%= link_to "Home", root_path %></li>
   <li><%= link_to "Features", "#" %></li>
   <li><%= link_to "Profile", "#" %></li>
</ul>
<h2>Welcome <%=current_user.name %></h2>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %> <br>
    <%= link_to "Authors", authors_path %> <br>
    <%= link_to "Your books", books_path %> <br>
    <%= link_to "Browse books", browse_books_path %>