<p id="notice"><%= notice %></p>
<%= image_tag @book.display_image if @book.image.attached? %>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p><strong>Author:</strong>
  <%= link_to @book.author.name, @book.author %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
