<p id="notice"><%= notice %></p>
<%= image_tag @book.display_image if @book.image.attached? %>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p><strong>Author:</strong>
  <%= link_to @book.author.name, @book.author %>
</p>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to "Authors", authors_path %> <br>
<%= link_to "Your Books", books_path  %> <br>
<%= link_to "Browse", browse_books_path %> <br>

<%= render partial: 'checkout_form', locals: {book: @book} %>
